@import 'import/reset';
@import 'import/variables';
@import 'import/mixin';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'font_fontawesome';
@import 'font_roboto';
@import 'sprite';


section {
  position: relative;

  width: 100%;
  min-height: 800px;
  #map {
    width: 100%;
    height: 1000px;
  }
}
aside {
  position: absolute;
  z-index: 15;
  top: 0;

  background-color: $light-gray;
}
.aside-control {
  left: 0;

  width: 250px;
  padding: 10px;

  border-radius: 0 $base-border-radius $base-border-radius 0;
  p,
  label,
  input,
  .k-widget,
  button {
    display: block;

    width: 100%;
    margin: 0 0 .5em;
    input {
      width: auto;
      margin: 0;
    }
  }
  input {
    font-size: 1em;
    line-height: normal;

    height: auto !important;
    padding: .5em;

    border: 1px solid #ddd;
    border-radius: $base-border-radius;
    background-color: #fff;
    box-shadow: $form-box-shadow;
  }
  .sumResult {
    font-size: .8em;

    position: relative;

    padding-left: 2em;
    input {
      position: absolute;
      top: 5px;
      left: 5px;
    }
  }
  &.aside-control-hide {
    display: none;
  }
}
.aside-nearest {
  right: 0;

  display: none;
  overflow: hidden;

  width: 500px;
  min-height: 1px;

  border-radius: $base-border-radius 0 0 $base-border-radius;
  table {
    width: 100%;
    th,
    td {
      padding: .5em;
      &:nth-child(1) {
        width: 105px;
      }
    }
  }
}

.aside-close {
  font-size: 2em;
  font-weight: 900;
  line-height: 1;

  position: absolute;
  z-index: 15;
  top: 0;

  display: block;

  text-decoration: none;
  text-transform: uppercase;

  color: #fff;
  background-color: $blue;
}
#aside-control-close {
  left: 250px;

  padding: .2em .2em .2em .1em;

  border-radius: 0 50% 50% 0;
  .close {
    display: inline;
  }
  .open {
    display: none;
  }
}
.aside-control-close-closed {
  left: 0 !important;
  .close {
    display: none !important;
  }
  .open {
    display: inline !important;
  }
}
#aside-nearest-close {
  right: 500px;

  display: none;

  padding: .2em .1em .2em .2em;

  border-radius: 50% 0 0 50%;
}

.k-marker {
  // background-color: red !important;
}

.k-marker-green {
  // background-color: green !important;
}
